.rodape {
    margin-top: 50px;
    height: 7vh;
    background-color: #C4C4C4;
}

.rodape__email {
    color: white;
    position: relative;
    left: 85%;
    top: 25px;
}

@media screen and (max-width: 428px) {

    .rodape__email {
        left: 40%;
    }

}